.nextflow*
.Rproj.user
.Rhistory
.RData
.Ruserdata
packrat/lib*/
packrat/src/
work
temp_files
data/*
!data/RADME.md
ressources/*
!ressources/focal_outlier.tsv
!ressources/windows_1kb.bed.gz
!ressources/README.md
!ressources/img
!ressources/other_studies/
!ressources/plugin
!ressources/vcf2nh.spid
!ressources/vcf2gp.spid
!ressources/avg_rho_by_LG.tsv
ressources/plugin/*
!ressources/plugin/poptrees
!ressources/plugin/ccf_pairs.tsv
ressources/other_studies/stankowski_etal_2019.tsv
1_genotyping
2_analysis/*
!2_analysis/fasttree
!2_analysis/revPoMo/
2_analysis/revPoMo/*
!2_analysis/revPoMo/window_stats.tsv.gz
!2_analysis/revPoMo/random_1k_windows.bed.gz
figures
tables
vignettes/*
!vignettes/*.Rmd
!vignettes/*.yml
!vignettes/*.css
!vignettes/*.bib
!vignettes/*.md
