.nextflow*
.Rproj.user
.Rhistory
.RData
.Ruserdata
packrat/lib*/
packrat/src/
work
temp_files
data/*
!data/RADME.md
ressources/*
!ressources/README.md
!ressources/img
1_genotyping
2_analysis
figures
vignettes/*
!vignettes/*.Rmd
!vignettes/*.yml
!vignettes/*.css
!vignettes/*.bib
!vignettes/*.md