env.BASE_DIR = "$WORK/chapter2"

process {
   executor = 'nqsii'
   queue = 'clmedium'
   cpus = 1
   memory = { 4.GB * task.attempt }
   time = { 1.h * task.attempt }
   errorStrategy = { task.exitStatus == Integer.MAX_VALUE ? 'retry' : 'finish' }
   maxRetries = 1
   maxErrors = '-1'
   }

trace { enabled = true }
report { enabled = true }