env.BASE_DIR = "$WORK/chapter2"

process {
   executor = 'nqsii'
   queue = 'clmedium'
   cpus = 1
   memory = 4.GB
   time = { 1.h * task.attempt }
   errorStrategy = { task.exitStatus == Integer.MAX_VALUE ? 'retry' : 'finish' }
   maxRetries = 1
   maxErrors = '-1'

   $split_samples {
      memory = 20.GB
      time = { 2.h * task.attempt }
   }

   $mark_adapters {
      memory = 20.GB
      time = { 15.h * task.attempt }
   }

   $map_and_merge {
      cpus = 8
      memory = 75.GB
      time = { 24.h * task.attempt }
   }

   $mark_duplicates {
      queue = 'cllong'
      memory =  32.GB
      time = { 30.h * task.attempt }
   }

   $index_bam {
      queue = 'clexpress'
      memory = 32.GB
      time = { 1.h * task.attempt }
   }

   $receive_tuple {
      queue = 'cllong'
      memory = 36.GB
      time = { 47.h * task.attempt }
   }

   $gather_gvcfs {
      queue = 'cllong'
      memory =  88.GB
      time = { 30.h * task.attempt }
   }

   $joint_genotype_snps {
      queue = 'cllong'
      memory =  88.GB
      time = { 30.h * task.attempt }
   }

   $joint_genotype_acs {
      queue = 'cllong'
      memory =  105.GB
      time = { 30.h * task.attempt }
   }

   $joint_genotype_metrics {
      memory = 28.GB
      time = { 5.h * task.attempt }
   }

   }

trace { enabled = true }
report { enabled = true }