env.BASE_DIR = "$WORK/chapter2"
env.SFTWR = "$WORK/software"
env.__lmod_vx=''
 
process {
   executor = 'slurm'
   queue = 'carl.p'
   cpus = 1
   memory = 2.GB
   time = { 1.h * task.attempt }
   errorStrategy = { task.exitStatus == Integer.MAX_VALUE ? 'retry' : 'finish' }
   maxRetries = 1
   maxErrors = '-1'

	 withLabel: "L_loc.*" {
		executor='local'
	 }

	 withLabel: "L_2g5m_.*" {
       time = { 5.m * task.attempt }
    }

		withLabel: "L_2g15m_.*" {
				time = { 15.m * task.attempt }
		 }

		withLabel: "L_20g2h_.*" {
			 memory = 20.GB
		   time = { 2.h * task.attempt }
		}

		withLabel: "L_20g6h_.*" {
			 memory = 20.GB
		   time = { 6.h * task.attempt }
		}

		withLabel: "L_20g15h_.*" {
			 memory = 20.GB
		   time = { 15.h * task.attempt }
		}

		withLabel: "L_32g1h_.*" {
			 memory = 32.GB
		   time = { 1.h * task.attempt }
		}

		withLabel: "L_32g4h_.*" {
			 memory = 32.GB
		   time = { 4.h * task.attempt }
		}

		withLabel: "L_32g6h_.*" {
			 memory = 32.GB
		   time = { 6.h * task.attempt }
		}

		withLabel: "L_32g12h_.*" {
			 memory = 32.GB
		   time = { 12.h * task.attempt }
		}

		withLabel: "L_32g15h_.*" {
			 memory = 32.GB
		   time = { 15.h * task.attempt }
		}

		withLabel: "L_32g48h_.*" {
			 memory = 32.GB
		   time = { 48.h * task.attempt }
		}

	 withLabel: "L_30g2h4x_.*" {
	     cpus = 4
			 memory = 30.GB
       time = { 2.h * task.attempt }
    }
}

trace { enabled = true }
report { enabled = true }
