body {

    text-rendering: optimizeLegibility;
    font-smoothing: antialiased;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    letter-spacing: .2px;
    text-size-adjust: 100%;

}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.book .book-body .page-wrapper .page-inner {
  max-width: 90% !important;
}

.book .book-summary {

    position: absolute;
    top: 0;
    left: -300px;
    bottom: 0;
    z-index: 1;
    width: 300px;
    color: #364149;
    background: #333;
    border-right: 1px solid rgba(0,0,0,.07);
    -webkit-transition: left 250ms ease;
    -moz-transition: left 250ms ease;
    -o-transition: left 250ms ease;
    transition: left 250ms ease;

}

.book .book-summary ul.summary li a, .book .book-summary ul.summary li span {

    display: block;
    padding: 10px 15px;
    border-bottom: none;
    color: #FFFFFF;
    background: 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;

}

#header {
  line-height: 60%;
  color: #262626;
}

.notthescript .sourceCode pre {
  background: #a6a6a6 !important;
}

.kclass pre {
  line-height: normal;
}

/* Style definition file generated by highlight 3.50, http://www.andre-simon.de/ */
/* highlight theme: Kwrite Editor */
body.hl	{ background-color:#e0eaee; }
pre.hl	{ color:#000000; background-color:#e0eaee; font-size:10pt; font-family:'Courier New',monospace;}
.hl.num { color:#b07e00; }
.hl.esc { color:#ff00ff; }
.hl.str { color:#006600; }
.hl.pps { color:#818100; }
.hl.slc { color:#838183; font-style:italic; }
.hl.com { color:#838183; font-style:italic; }
.hl.ppc { color:#008200; }
.hl.opt { color:#000000; }
.hl.ipl { color:#77272A; } /* variavle in string */
.hl.lin { color:#555555; }
.hl.kwa { color:#ee0000; } /*ID1*/
.hl.kwb { color:#ff9900; font-weight:bold; } /*ID2*/
.hl.kwc { color:#0066cc; } /*ID3...*/
.hl.kwd { color:#77272A; }
.hl.kwe { color:#ff9900; font-weight:bold;}
.hl.kwf { color:#ff9900; }